<h1 class="h3 mb-1 text-gray-800">{{inner.title}}</h1>

<div class="card shadow mb-4">
    <!-- 제목   -->
    <div class="card-header py-3">
        <div class="row">
            <div class="col-sm-1"><i class="fas fa-eye" style="color : #2e59d9"></i> {{inner.views}}</div>
            <div class="col-sm-8"><i class="fas fa-grin-hearts" style="color: #ca2819"></i> {{inner.like_cnt}}</div>
            <div class="col-sm-1">{{inner.UserInfo.name}}</div>
            <div class="col-sm-2">{{inner.createdAt}}</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card mb-4 py-3 border-left-primary">
            <div class="card-body">
                {{inner.content}}
                {{inner.image}}
            </div>
        </div>
    </div>
</div>
